<div class="draft-square placeholder clock-holder"></div>
	<% for (var iPick = 1; iPick <= settings.TeamsPerDraft; iPick++) { %>
        <% var user = users[orders[iPick]]; %>
        <% var className = 'draft-square logo ' + user.Username.toLowerCase(); %>
        <% if (user.UserID == currentUser.ID) { %>
        	<% className += ' current'; %>
        <% } else if (activeUsers && activeUsers[user.UserID]) { %>
        	<% className += ' online'; %>
        <% } %>
        <div data-user-id="<%= user.UserID %>" class="<%= className %>"></div>
    <% } %>
<div class="draft-square placeholder clock-holder"></div>