<% for (var iRnd = 1; iRnd <= settings.RoundsPerDraft; iRnd++) { %>
<% var totalPicks = (iRnd - 1) * settings.TeamsPerDraft; %>
    <tr>
	    <td class="whiteBack">Round <%= iRnd %></td>
	    <% for (var iPick = 1; iPick <= settings.TeamsPerDraft; iPick ++) { %>
		    <% var overallPick = (totalPicks + iPick); %>
            <% var pickData = pickMap[overallPick] %>
            <td id="Td<%= overallPick %>" class="draftCell <%= pickData ? pickData.className : 'draftEmpty' %>">
                <% if (pickData) { %>
                    <% for (var i = 0; pickData.override && pickData.override.text && i < pickData.override.text.length; i++) { %>
                        <div><%= pickData.override.text[i] %></div>
                    <% } %>
                    <% for (var i = 0; pickData.text && i < pickData.text.length; i++) { %>
                        <div><%= pickData.text[i] %></div>
                    <% } %>
                <% } %>
            </td>
	    <% } %>
	    <td class="whiteBack">Round <%= iRnd %></td>
    </tr>
<% } %>